/* styles.css */

.container {
    display: flex;
  }
  
  .box {
    flex: 1;
    height: 100vh;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .box h2,
  .box p {
    margin-top: 15px;
  }
  
  .trades {
    background-color: #f290a7; /* Softened ESPN Red */
  }
  
  .partnerships {
    background-color: #9dc7e9; /* Softened ESPN Blue */
  }
  
  .deals {
    background-color: #ffab66; /* Softened ESPN Orange */
  }
  
  .horizontal-scroller {
    width: 100%;
    overflow-x: scroll;
  }
  
  .scroll-content {
    display: flex;
    white-space: nowrap;
    padding: 10px; /* Optional: Add padding to the scrollable area */
  }
  
  .scroll-content li {
    display: inline-block;
    margin-right: 50px; /* Optional: Add margin between the list items */
  }
  