/* styles.css */

.container {
    display: flex;
  }
  
  .box {
    flex: 1;
    height: 100vh;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .box h2,
  .box p {
    margin-top: 15px;
  }
  
  .trades {
    background-color: #f290a7; /* Softened ESPN Red */
  }
  
  .partnerships {
    background-color: #9dc7e9; /* Softened ESPN Blue */
  }
  
  .deals {
    background-color: #ffab66; /* Softened ESPN Orange */
  }
  